<!DOCTYPE html>
<html>
<head>
  <title>ParamsRailsLivecode1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>This is a Blog.</h1>
    <nav>
      <ul>
        <li>About</li>
        <li>Posts</li>
        <li>Contact</li>
      </ul>
    </nav>
  </header>

<%= yield %>

<footer>
  <p> &copy; 2016</p>
</footer>
</body>
</html>
